@border:2px solid black;
@border-fat:4px solid black;

@font-big:32px;
@transition-duration:1s;

body {
  font-family: 'Capriola', sans-serif;  
}

h1 {
  font-size:@font-big;  
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

#main {
	border: @border;
	width: 800px;
	height: 600px;
	margin:6% auto;
}

.name-title {
  border: @border;
  text-align: center;
	height: 100px;
	padding-top: 20px;
	cursor:pointer;
}

.categories {
  height:478px;
	position:relative;
	box-sizing: border-box;
}

.categories.single-category-opened {
	border:@border;
}

.simon-button {
  width: 400px;
	height: 238px;
//	width:50%;
//	height:50%;
	background-color:white;
  position:absolute;
  text-align: center;
  border: @border;
  box-sizing: border-box;
	cursor:pointer;
	font-size:@font-big;
	&:hover { color:white;}
	transition:width @transition-duration,height @transition-duration;
  -moz-transition:width @transition-duration,height @transition-duration;
  -webkit-transition:width @transition-duration,height @transition-duration;
  -o-transition:width @transition-duration,height @transition-duration;
  
	h1 {
		margin: 25%;	
		transition:margin @transition-duration, display @transition-duration;
		-moz-transition:margin @transition-duration; /* Firefox 4 */
		-webkit-transition:margin @transition-duration, display @transition-duration;
		-o-transition:margin @transition-duration; /* Opera */
	}
}

.simon-button-mini {
  direction:rtl;
  text-align:right;
  background-image: url(../images/icon.png?aaaaaaa333);
  background-repeat: no-repeat;
	height: 38px!important;
	width: 38px!important;
	font-size:12px;
	z-index:2;
  h1 {
    display:none;
//			margin:1%;
  }
}
.simon-button-mini.selected {
  background-image: url(../images/icon.white.png?aaaaee);
}
#my-self {
	.simon-button {
		top:0;
		left:0;
    &:hover { background-color:Blue;}
	}
	.simon-button-mini {
		border-bottom:@border-fat;
		border-right:@border-fat;
		border-top: none;
		border-left: none;
	}
	.selected	{ background-color:Blue;}
		.page
	{
		top:0;
		left:0;
	}
}

#resume {
	.simon-button {
    top:0;
	  right:0;
	  &:hover { background-color:Red;}
	}
	.simon-button-mini {
		border-bottom:@border-fat;
		border-left:@border-fat;
		border-top:none;
		border-right:none;
	}
	.selected	{ background-color:Red;color:white;}
	.page
	{
		top:0;
		right:0;
	}
}

#skills {
	.simon-button {
    bottom:2px;
	  left:0;
	  &:hover { background-color:Yellow;}
	}
	.simon-button-mini{
	  bottom:0;
	  border-top:@border-fat;
	  border-right:@border-fat;
	  border-left:none;
  }
	.selected	{ background-color:Yellow;}
	.page
	{
		bottom:0;
		left:0;
	}
	.page-visible
	{
		margin-bottom:100px;
	}
}

#contact {
	.simon-button {
    bottom:2px;
	  right:0;
	  &:hover { background-color:Green;}
	}
	.simon-button-mini{
	  bottom:0;
	  border-top:@border-fat;
	  border-left:@border-fat;
	  border-right:none;
  }
	.selected	{ background-color:Green;}
	.page
	{
		bottom:0;
		right:0;
	}
	.page-visible
	{
		margin-bottom:100px;
	}
}

.page {
	width: 0;
	height:0;
	overflow:hidden;
	//margin: 13% auto;
	position:absolute;
	z-index:1;
	transition:width @transition-duration,height @transition-duration;
  -moz-transition:width @transition-duration,height @transition-duration;
  -webkit-transition:width @transition-duration,height @transition-duration;
  -o-transition:width @transition-duration,height @transition-duration;
	span
	{
		margin:0 15% 15% 15%;
		display: inline-block;
	}
	h1
	{
		margin:15% 15% 0 15%;
		display: inline-block;
	}
}

.page-visible {
		width: 796px;
		height:80%;
		//display:block!important;
}

